
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<br/>
<div class="panel panel-default">

    <div class="panel-heading">
        <h2>Listing and Search for Positions in IT</h2>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-inline">
                    <input type="text" id="search" class="form-control" placeholder="Enter Here"/>
                    <input type="button" class="btn btn-success" value="Search" id="btnSearch" onclick="searchPosition(search.value)"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="tablePositions">
                        
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

